  <div class="card-body"
       id="{{ 'card' + id }}"
       data-toggle="tooltip"
       title="{{ item.uri }}"
      [class.bg-secondary]="selected"
      (click)="selectItem()"
      [class.active]="selected"
      [attr.about]="item.data['@type']">
    <h5 class="card-title">Card {{ id }}</h5>
    <p class="card-text">{{ item.data['@type'] }}</p>
    <a href="#" class="btn btn-primary"
                (click)="selectItem(); editItem(); false"
    >Edit</a>
    <a href="#" class="btn btn-primary"
                (click)="!!removeItem()"
    >Remove</a>

  </div>

