<header>
  <nav class="navbar navbar-dark bg-dark navbar-expand-md">
    <a class="navbar-brand" href="#">LTP Basic UI</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item nav-link active"><a class="nav-link" routerLink='/items'>Items</a></li>
        <li class="nav-item nav-link disabled"><a class="nav-link" routerLink='/activities'>Activities</a></li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
      <input #searchBox class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
           (ngModelChange)="filterSearch()"
           />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
        (click)="doSearch()">Search</button>
    </form>
    </div>
  </nav>
</header>
<main role="main" class="container">
<router-outlet></router-outlet>
</main>
<app-modal-editor *ngIf="showEditor$ | async"
                  [visible]="showEditor$ | async"
				  (init)="initEditor()"
></app-modal-editor>
<footer class="footer">
  <div>
    <span>&copy; 2018 Shawn Lower</span>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://unpkg.com/jsonld@1.0.0/dist/jsonld.min.js"></script>

</footer>
