<div class="modal-body">
  <form [formGroup]="form">
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Type URL</span>
      </div>
      <input title=""
             class="form-control custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left ui-autocomplete-input"
             autocomplete="off"
             formControlName="typeUrl"
             autofocus
      >
    </div>
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Next</span>
      </div>
      <input type="text" class="form-control" aria-label="typeUrl" aria-describedby="inputGroup-sizing-sm"
           formControlName="typeUrl" placeholder="Your name">
    </div>
  </form>
</div>
