<div class="modal-body">
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Type URL</span>
      </div>
      <input title=""
             class="form-control custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left ui-autocomplete-input"
             autocomplete="off"
             [ngbTypeahead]="search"
             [(ngModel)]="model"
             autofocus
      >
    </div>
    <span>Results: {{ this.staticSearchResults }}</span>
    <span>Model: {{ model | json }}</span>
</div>
