<div class="modal-body">
  <form [formGroup]="form">
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Type URL</span>
      </div>
      <input title=""
             class="form-control custom-combobox-input ui-widget
                    ui-widget-content ui-state-default ui-corner-left
                    ui-autocomplete-input"
             autocomplete="off"
             [ngbTypeahead]="search"
             [(ngModel)]="typeUrl"
             formControlName="typeUrl"
             autofocus
             >
    </div>
      <span>Item: {{ this.currentItem$ | async | json }}</span>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">With textarea</span>
        </div>
        <textarea class="form-control"
                  aria-label="With textarea"
                  formControlName="dataType"
                  [(ngModel)]="json"
                  ></textarea>
      </div>
  </form>
</div>
