<div class="modal-body" id="modal-body">
  <form [formGroup]="form">
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Type URL</span>
      </div>
      <input title=""
             class="form-control custom-combobox-input ui-widget
                    ui-widget-content ui-state-default ui-corner-left
                    ui-autocomplete-input"
             autocomplete="off"
             [ngbTypeahead]="search"
             [class.alert-danger]="!!this.form.controls.typeUrl.errors"
             formControlName="typeUrl"
             autofocus
             >
    </div>
    <div *ngIf="form.errors"
           class="alert alert-danger">
    </div>
    <!-- Loader animation -->
    <div class="loader" *ngIf="!contentLoaded">Loading...</div>

    <!-- Temporary text input box for pasting raw JSON -->
    <!-- and ngModel issues :-/ -->
    <div *ngIf="this.form.controls.json?.invalid && (this.form.controls.json?.dirty || this.form.controls.json?.touched)"
     class="alert alert-danger">
      Invalid JSON document
    </div>

    <div *ngIf="this.showRawInputBox">
      <textarea
        class="container"
        autofocus
        #rawInput
        formControlName="json"
        ></textarea>
    </div>
    
    <ng-template appItemDirective></ng-template>
    
  </form>
</div>
