<div class="modal-body" id="modal-body">
  <form [formGroup]="form">
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Type URL</span>
      </div>
      <input #typeUrl
             id="inputTypeUrl"
             class="form-control custom-combobox-input ui-widget
                    ui-widget-content ui-state-default ui-corner-left
                    ui-autocomplete-input"
             autocomplete="off"
             (blur)="handleTypeChange(typeUrl.value)"
             [ngbTypeahead]="search"
             [class.alert-danger]="!!this.form.controls.typeUrl.errors"
             formControlName="typeUrl"
             autofocus
             >
    </div>
    <div *ngIf="form.errors"
           class="alert alert-danger">
    </div>
    <!-- Loader animation -->
    <div class="loader" *ngIf="!contentLoaded">Loading...</div>

    <!-- Temporary text input box for pasting raw JSON -->
    <!-- and ngModel issues :-/ -->
    <div *ngIf="this.form.controls.json?.invalid && (this.form.controls.json?.dirty || this.form.controls.json?.touched)"
     class="alert alert-danger">
      Invalid JSON document:
    </div>

    <app-item-section
      [data]="this.expandedJson[0]"
      [showHeader]="false"
      *ngIf="this.expandedJson">
    </app-item-section>

    <div>
      <input #ctlAddProperty
             id="ctlAddProperty"
             class="form-control custom-combobox-input ui-widget
                    ui-widget-content ui-state-default ui-corner-left
                    ui-autocomplete-input"
             autocomplete="off"
             (blur)="addProperty(ctlAddProperty.value)"
             [ngbTypeahead]="propertySearch"
             formControlName="ctlAddProperty"
             >
    </div>

    <div *ngIf="this.showRawInputBox">
      <textarea
        class="container"
        rows=10
        autofocus
        value="{{ this.expandedJson | json }}"
        #rawInput
        formControlName="json"
        ></textarea>
    </div>
    <hr>
    <div>
      <button type="button" class="btn btn-primary"
       (click)="showRawInputBox = !showRawInputBox">Show raw JSON-LD</button>
    </div>

  </form>
</div>
