<header>
  <nav class="navbar navbar-dark bg-dark navbar-expand-md">
    <a class="navbar-brand" href="#">LTP Basic UI</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item nav-link active"><a class="nav-link" routerLink='/items'>Items</a></li>
        <li class="nav-item nav-link disabled"><a class="nav-link" routerLink='/activities'>Activities</a></li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
      <input #searchBox class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    </div>
  </nav>
</header>
<main role="main" class="container">
<router-outlet></router-outlet>
</main>
<footer class="footer">
  <div>
    <span>&copy; 2018 Shawn Lower</span>
  </div>
  <!-- Load bootstrap and its dependencies -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</footer>
